.configuraciones-container {
  display: flex;
 margin-left: 390px;
}

.configuraciones-text,
.configuraciones-text1,
.configuraciones-text2,
.configuraciones-text3 {
  width: 200px;
  margin-left:10px;
  margin-right: 80px;
  font-size: 18px;
  color: white;
}

.contenedorssd {
  border: 1px solid rgba(0, 0, 0, 0.917);
  margin-left: 200px;
  width: 1800px;
  background-color: rgba(27, 26, 26, 0.92);
}

.tit {
  position: absolute;
  margin-left: -250px;
  margin-top: 200px;
  color: wheat;
  
  
}